@font-face {
    font-family: mono;
    src: url(/font/MonumentExtended-Ultrabold.otf);
}

@font-face {
  font-family: perpeta;
  src: url(/font/perpeta.ttf);
}

@font-face {
  font-family: regular;
  src: url(/font/MonumentExtended-Regular.otf);
}

body {
    font-family: mono;
    background-image: url("Pictures/background.jpeg");
}

.list:hover {
  color: #fd6e2c !important;
}

.fa-thumbs-up:hover {
  color: white !important;
}

.fa-share:hover {
  color: white !important;
}

.fa-solid:hover {
  color: white !important;
}

.fa-envelope:hover {
  color: white !important;
}

.fa-twitter:hover {
  color: white !important;
}

.fa-discord:hover {
  color: white !important;
}

.article {
  font-family: Regular;
}

