@font-face {
    font-family: mono;
    src: url(/font/MonumentExtended-Ultrabold.otf);
}

@font-face {
  font-family: perpeta;
  src: url(/font/perpeta.ttf);
}

@font-face {
  font-family: regular;
  src: url(/font/MonumentExtended-Regular.otf);
}

*{
  padding: 0;
  margin: 0;
}

body {
    font-family: mono;
    background-image: url("Pictures/background.jpeg");
   
}
.bg{ 
  background-color: #0c0c0c;
}

.list:hover {
  color: #fd6e2c !important;
}

.fa-thumbs-up:hover {
  color: white !important;
}

.fa-share:hover {
  color: white !important;
}

.fa-solid:hover {
  color: white !important;
}

.fa-envelope:hover {
  color: white !important;
}

.fa-twitter:hover {
  color: white !important;
}

.fa-discord:hover {
  color: white !important;
}

.article {
  font-family: Regular;
}

.articlep {
  font-family: perpeta;
  font-size: 20px;
}

 .articlepp {
  font-family: perpeta;
  font-size: 18px;
}
.name {
  font-family: Regular;

}
.des {
  font-family: perpeta;
}
.click {
  font-family: mono;
}

.text-lg{
  font-size: 50px;
  
}
.text-sm {
  font-size: 14px; /* Custom font size for small screens */
}

.text-md {
  font-size: 18px; /* Custom font size for medium-sized screens */
}
